<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Account Login</h2>
            </div>
            <img src="/src/public/img/code-logo.png" class="d-block mx-auto rounded-circle m-4 img-fluid logo-img">
            <div class="card-body">
                <form action="/user/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                      <div class="form-group">
                        <button class="btn btn-block btn-success" type="submit">Sing in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>